<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    <style>
        .container {
            max-width: 700px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 상세</h2>
    </div>
    <div>
        <label for="userId">회원 ID</label>
        <input type="text" id="userId" name="id" class="form-control"
               value="1" th:value="${user.id}" readonly>
    </div>
    <div>
        <label for="userName">회원 이름</label>
        <input type="text" id="userName" name="name" class="form-control"
               value="이름" th:value="${user.name}" readonly>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/user/{userId}/edit(userId=${user.id})}'|"
                    type="button">회원 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/user/users}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>